<div class="m-auto mt-5 pt-5" style="max-width: 35vw">
  <div class="card text-center">
    <div class="card-header bg-dark text-white">Add Shipping</div>
    <div class="card-body">
      <form>
        <div class="col-12">
          <div class="row">
            <div class="col-3">
              <label>Shipping Name</label>
            </div>
            <div class="col-9">
              <input
                required
                type="text"
                class="form-control"
                name="Name"
                [(ngModel)]="shippingPost.Name"
              />
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-3">
            <label>Sender Address</label>
          </div>
          <div class="col-9">
            <input
              type="text"
              class="form-control"
              name="SenderAddress"
              [(ngModel)]="shippingPost.SenderAddress"
              required
              minlength="7"
              #password="ngModel"
            />
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-3">
            <label>Receiver Address</label>
          </div>
          <div class="col-9">
            <input
              type="text"
              class="form-control"
              name="ReceiverAddress"
              [(ngModel)]="shippingPost.ReceiverAddress"
              required
              minlength="7"
              #password="ngModel"
            />
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-3">
            <label>Shipping Method</label>
          </div>
          <div class="col-9">
            <input
              type="text"
              class="form-control"
              name="Password"
              [(ngModel)]="shippingPost.ShippingMethod"
              required
              minlength="7"
              #password="ngModel"
            />
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-3">
            <label>Shipping Status</label>
          </div>
          <div class="col-9">
            <input
              type="text"
              class="form-control"
              name="ShippingStatus"
              [(ngModel)]="shippingPost.ShippingStatus"
              required
              minlength="7"
              #password="ngModel"
            />
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-3">
            <label>Shipping Cost</label>
          </div>
          <div class="col-9">
            <input
              type="text"
              class="form-control"
              name="ShippingCost"
              [(ngModel)]="shippingPost.ShippingCost"
              required
              minlength="7"
              #password="ngModel"
            />
          </div>
        </div>
      </form>

      <div class="card-footer text-body-secondary">
        <div class="m-auto col-5">
          <button
            class="btn btn-success"
            type="button"
            (click)="createShipping()"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
