<div class="row m-2">
  <div class="col-6">
    <h2 class="text-center text-success">Invitation Block</h2>
  </div>
  <div class="col-6">
    <div class="col-5 offset-6">
      <button class="btn btn-success" (click)="showInvitation()">
        Create Invitation/Hide Invitation
      </button>
    </div>
  </div>
</div>

<!-- invitation  -->
<div
  class="m-auto mt-5 pt-5"
  style="max-width: 35vw"
  [style]="displayInvitation"
>
  <div class="card text-center">
    <div class="card-header bg-dark text-white">Invitation Sender</div>
    <div class="card-body">
      <form>
        <div class="col-12">
          <div class="row mt-2">
            <div class="col-12">
              <input
                type="text"
                placeholder="Find Invited Person "
                class="form-control"
                (keyup)="search($event)"
                name="displayFindName"
                [(ngModel)]="displayFindName.Name"
              />
            </div>
            <div *ngIf="displayNameorNot">
              <div
                class="col-12"
                *ngFor="let result of results$ | async"
                (click)="displayNameClick($event,result.id)"
              >
                <input [value]="result.name" class="form-control" disabled />
              </div>
            </div>
          </div>
        </div>
      </form>

      <!-- <div *ngFor="let result of results$ | async">
        {{result.name}}
      </div> -->
    </div>
    <div class="card-footer text-body-secondary">
      <div class="m-auto col-5">
        <button class="btn btn-success" (click)="sendeInvitation()">Send Invitation</button>
      </div>
    </div>
  </div>
</div>
<!-- we will display the user that match with the input that enter by the user -->

<!-- Display Invitation -->
<div class="w-50 m-auto mt-5">
  <table class="table table-striped table-hover text-center">
    <thead class="bg-dark text-white">
      <tr>
        <td>Name</td>
        <td>Status</td>
        <td>Action</td>
        <td>Action Status / User State</td>
      </tr>
    </thead>
    <tbody>
<tr *ngFor="let invitations of invitaionerList">
  <td>{{invitations.applicationUserReceiver.userName}}</td>
  <td>
  <a *ngIf="invitations.invitedPersonStatus == 1" class="btn btn-outline-primary">>Approved</a>
  <a *ngIf="invitations.invitedPersonStatus == 2" class="btn btn-outline-danger">>Rejected</a>
  <a *ngIf="invitations.invitedPersonStatus == 3" class=" btn btn-outline-warning text-dark">Pending</a>
</td>
  <td >
    <button class=" btn btn-success" (click)="updateAction(invitations.invitationReceiverUserId,1)">Enable</button>
    <button class="btn btn-danger" (click)="updateAction(invitations.invitationReceiverUserId,2)">Disable</button>
    <button class="btn btn-warning" (click)="updateAction(invitations.invitationReceiverUserId,3)">Delete</button>
  </td>
  <td >
    <p *ngIf="invitations.invitedPersonAction == 1" class=" btn btn-outline-primary">Enable</p>
    <p *ngIf="invitations.invitedPersonAction == 2" class="btn btn-outline-danger">Disable</p>
    <p *ngIf="invitations.invitedPersonAction == 3" class="btn-outline-warning">Delete</p>
  </td>

</tr>
    </tbody>
  </table>
</div>
